doctype
html(lang='es')
	head
		title='Mapa'
		script(src="../js/jquery-1.11.2.min.js")
		script(src="../js/bootstrap.min.js")
		script(src="../js/leaflet.js")
		script(src="../js/mapa.js")
		link(href="../css/bootstrap.min.css" rel="stylesheet")
		link(href="../css/estilo.css" rel="stylesheet")
		link(href="../css/mapa.css" rel="stylesheet")
		link(href="../css/leaflet.css" rel="stylesheet")
		script(src='https://api.tiles.mapbox.com/mapbox.js/v2.1.6/mapbox.js')
		link(href='https://api.tiles.mapbox.com/mapbox.js/v2.1.6/mapbox.css' rel='stylesheet')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		meta(charset='utf-8')
	body(onload="cargar();")
		nav(class="navbar navbar-default" id="blur")
				div(class="container-fluid")
					div(class="navbar-header")
						a(href="/home"): img(class="img-responsive" src="../img/logotipo.png" title="Chat")			
			div(id="map")
			input(type="hidden" id="username" value="#{usuario.username}")
			input(type="hidden" id="longitude" value="#{usuario.longitude}")
			input(type="hidden" id="latitude" value="#{usuario.latitude}")